barbican==14.0.2
Beaker
deepdiff
falcon
fixtures
jsonpath_ng
jsonpickle
jsonschema
keystoneauth1==4.3.1
networkx
oslo.config==8.6.0
oslo.context==4.0.0
oslo.log==4.8.0
oslo.policy==3.10.1
oslo.serialization==4.1.0
oslo.utils==4.12.3
oslo.db==11.2.0
PasteScript
pylibyaml
python-barbicanclient
python-memcached
PyYAML
six
testtools
tiddlyweb
Werkzeug
psycopg2-binary
uwsgi
xattr==0.10.1