# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

hacking==3.0.1
SQLAlchemy==1.4.23
alembic==1.7.1
amqp==5.0.8
Beaker==1.12.0
cryptography==3.4.8
deepdiff==5.8.1
falcon==3.1.1
jsonpath-ng==1.5.3
jsonschema==3.2.0
keystoneauth1==5.1.1
keystonemiddleware==10.2.0
kombu==5.1.0
networkx==2.6.2
oslo.cache==2.8.2
oslo.concurrency==4.4.1
oslo.config==8.7.1
oslo.context==5.0.0
oslo.messaging==12.9.4
oslo.db==11.0.0
oslo.log==4.6.0
oslo.middleware==4.4.0
oslo.policy==4.0.0
oslo.serialization==4.2.0
oslo.utils==4.10.2
pbr==5.6.0
PasteDeploy==3.0.1
Paste==3.5.0
psycopg2-binary==2.9.5
pylibyaml==0.1.0
PyYAML==5.4.1
python-dateutil==2.8.2

# TODO(alanmeadows)
# this must match the container service
# likely this should be imported from a
# container sidecar long-term
python-barbicanclient==5.2.0
python-keystoneclient==3.22.0
python-memcached==1.59

Routes==2.5.1
six==1.16.0
sphinx-rtd-theme==1.1.1
stestr==3.2.0
stevedore==4.1.1
urllib3==1.26.6
uWSGI==2.0.21
# To support profiling in non-prod
Werkzeug==2.0.1
jsonpickle