# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

# Hacking already pins down pep8, pyflakes and flake8
hacking>=1.0.0 # Apache-2.0

coverage!=4.4,>=4.0 # Apache-2.0
fixtures>=3.0.0 # Apache-2.0/BSD
mox3!=0.19.0,>=0.7.0 # Apache-2.0
python-subunit>=0.0.18 # Apache-2.0/BSD
oslotest>=1.10.0 # Apache-2.0
os-testr>=0.8.0 # Apache-2.0
testrepository>=0.0.18 # Apache-2.0/BSD
testtools>=1.4.0 # MIT
bandit>=1.1.0 # Apache-2.0
gabbi==1.35.1
pifpaf==0.10.0
pytest-html==1.16.0

# NOTE(fmontei): The requirement below is only included because readthedocs
# depends on it to work, since it runs pip install -rtest-requirements.txt.
oslo.policy>=1.23.0 # Apache-2.0
