[loggers]
keys = root, deckhand

[handlers]
keys = file, null, syslog

[formatters]
keys = simple, context

[logger_deckhand]
level = DEBUG
handlers = file
qualname = deckhand

[logger_root]
level = WARNING
handlers = null

[handler_file]
class = FileHandler
level = DEBUG
args = ('deckhand.log', 'w+')
formatter = context

[handler_null]
class = logging.NullHandler
formatter = context
args = ()

[handler_syslog]
class = handlers.SysLogHandler
level = ERROR
args = ('/dev/log', handlers.SysLogHandler.LOG_USER)

[formatter_context]
class = oslo_log.formatters.ContextFormatter

[formatter_simple]
format=%(asctime)s.%(msecs)03d %(process)d %(levelname)s: %(message)s
