# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
sphinx>=1.6.2 # BSD
sphinx_rtd_theme
reno>=2.5.0 # Apache-2.0
plantuml
sphinxcontrib-apidoc>=0.2.0  # BSD

# NOTE(felipemonteiro): Required by RTD to make oslo.policy and
# oslo.config sample generation work.
oslo.config!=4.3.0,!=4.4.0,>=5.2.0 # Apache-2.0
oslo.policy>=1.33.1 # Apache-2.0
