# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
sphinx>=1.6.2 # BSD
sphinx_rtd_theme
reno>=2.5.0 # Apache-2.0
plantuml
sphinxcontrib-apidoc>=0.2.0  # BSD
sphinxcontrib-plantuml

# NOTE(felipemonteiro): Required by RTD to make oslo.policy and
# oslo.config sample generation work.
oslo.config!=4.3.0,!=4.4.0,>=5.2.0 # Apache-2.0
oslo.policy>=1.33.1 # Apache-2.0

# NOTE(gorshunovr): from ../requirements.txt
beaker==1.10.0
deepdiff==3.3.0
falcon==1.4.1
jsonpath-ng==1.4.3
jsonschema==2.6.0
keystoneauth1==3.11.1
networkx==2.2
Paste==3.0.1
PasteDeploy==1.5.2
python-barbicanclient==4.7.0
oslo.db==4.41.1
oslo.log==3.40.1
Werkzeug==0.16.1
