plantuml
sphinxcontrib-apidoc==0.2.0  # BSD
sphinxcontrib-plantuml
Sphinx==5.3.0
sphinx-rtd-theme==0.5.0
reno==4.0.0
pylibyaml==0.1.0
oslo.config==9.1.1
oslo.policy==4.1.1


Beaker==1.12.1
deepdiff==6.3.0
falcon==3.1.1
jsonpath-ng==1.5.3
jsonschema==4.17.3
keystoneauth1==5.1.2
networkx==3.1
Paste==3.5.2
PasteDeploy==3.0.1
python-barbicanclient==5.5.0
oslo.db==10.0.0
oslo.log==5.2.0
Werkzeug==3.0.3
jsonpickle==3.0.1
Jinja2<=3.0.3