plantuml
sphinxcontrib-apidoc
sphinxcontrib-plantuml
Sphinx
sphinx-rtd-theme
reno
# pylibyaml
# oslo.config==9.1.1
# oslo.policy==4.1.1


# Beaker
# deepdiff
# falcon
# jsonpath-ng
# jsonschema
# keystoneauth1==5.1.2
# networkx
# Paste
# PasteDeploy
# python-barbicanclient==5.5.0
# oslo.db==10.0.0
# oslo.log==5.2.0
# Werkzeug
# jsonpickle
# Jinja2